@model List<BanHangOgani.Models.Product>
@{
    ViewData["Title"] = "DashBroad";
}
<h1>Admin  page</h1>

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Daily Views</div>
        </div>

        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">80</div>
            <div class="cardName">Sales</div>
        </div>

        <div class="iconBx">
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Comments</div>
        </div>

        <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">$7,842</div>
            <div class="cardName">Earning</div>
        </div>

        <div class="iconBx">
            <ion-icon name="cash-outline"></ion-icon>
        </div>
    </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Recent Orders</h2>
            <a href="#" class="btn">View All</a>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Payment</td>
                    <td>Status</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Star Refrigerator</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>

                <tr>
                    <td>Dell Laptop</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>

                <tr>
                    <td>Apple Watch</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                </tr>

                <tr>
                    <td>Addidas Shoes</td>
                    <td>$620</td>
                    <td>Due</td>
                    <td><span class="status inProgress">In Progress</span></td>
                </tr>

                <tr>
                    <td>Star Refrigerator</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>

                <tr>
                    <td>Dell Laptop</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>

                <tr>
                    <td>Apple Watch</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                </tr>

                <tr>
                    <td>Addidas Shoes</td>
                    <td>$620</td>
                    <td>Due</td>
                    <td><span class="status inProgress">In Progress</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ================= New Customers ================ -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Recent Customers</h2>
        </div>

        <table>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/aiHoshino.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Ai Hoshino <br> <span>Japan</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/aiHoshinoWinkles.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Ai Hoshino Winkles <br> <span>Japan</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/Gojo.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Gojo <br> <span>Akron, Ohio</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/itachi.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Itachi <br> <span>Leaf Village</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/KaiKonChainsaw.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Kaikon <br> <span>Korea</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/kokushibou.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Kokushibou <br> <span>Japan</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/luffy.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Luffy <br> <span>The Goa Kingdom</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/nahidaImpact.jpg" alt=""></div>
                </td>
                <td>
                    <h4>
                        Nahida <br> <span>Genshin Impact</span>
                    </h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="~/LayoutAdmin/Assets/image/sungJin.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Sung Jinwoo <br> <span>Korea</span></h4>
                </td>
            </tr>
        </table>
    </div>

@*<table width="80%" border="1">

    <tr>
        <td>ProductID </td>
        <td> Product Name</td>
        <td>Product Description</td>
        <td>Product Price</td>
        <td>Image</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId </td>
            <td>@item.ProductName</td>
            <td>@item.ProductName</td>
            <td>@item.ProductDescription</td>
            <td>@item.ProductPrice</td>
            <td>
                <img src="~/img/@item.ProductImgPath" alt="" width="80px" height="80px">

            </td>
        </tr>
    }

</table>*@

